.carousels {
    position: relative;
  }
  
  .profile-image {
    
    position: absolute;
    left: 200px;
    top: 100px; 
    border-radius: 115px; 
    width: 250px; 
    height: 250px;
    box-shadow: 5px 5px 10px rgb(255, 255, 255); 
    z-index: 2; 
  }
  .heading1{
    position: absolute;
    color: white;
    right: 275px;
    top: 200px; 
    
    z-index: 2;
  }
  .heading2{
    position: absolute;
    right: 275px;
    top: 275px; 
   
    z-index: 2;
  }
  