.background-container {
    background-image: url('https://st.depositphotos.com/1032463/1373/i/950/depositphotos_13732950-stock-photo-background-of-old-vintage-newspapers.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px; 
    width: 100%;
  }
  
 
  