
  .background {
    background-image: url('https://e0.pxfuel.com/wallpapers/531/592/desktop-wallpaper-cute-cartoon-characters-funny-aesthetic-profile-cute-pinterest-pinterest-aesthetic-laptop-pastel-color-peachy-aesthetic.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    
   
  }
    
  